html { font-size: max(1em, 9vmax) }
body { margin: auto; padding: 1em }
article { font-family: monospace }
code { font-family: sans-serif }

.whale {
  font: 1em sans-serif;
  box-sizing: border-box;
  margin: auto auto 1em;
  padding: 1em;
}

.swish {
  font-size: calc(2em / 3);
  line-height: 1.61;
  margin: auto auto 22vh;
}

:any-link {
  border-radius: 1ex 1em;
  display: inline-flex;
  transition: 100ms;
  text-decoration: dotted overline;
}

:focus {
  outline-width: thick;
  outline-style: dotted;
}

:link:active {
  text-decoration: dashed overline;
}
